In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os, sys, shutil

In [2]:
workspace = '/data/ChaochaoData/DSA-DL/HyperMorph/Comparison/'
sample_dir = os.path.join(workspace, 'likert_samples')
eval_dir = os.path.join(workspace, 'likert_scoring')

In [3]:
# score_filename = 'LikertScoring_DC.xlsx'
score_filename = 'LikertScoring_SA.xlsx'
# score_filename = 'LikertScoring_RA.xlsx'

filepath = os.path.join(eval_dir, score_filename)
df = pd.read_excel(filepath)
print(df.shape)
df

(50, 8)

,Case,Sharpness,Contrast,Noise,Vascular Fidelity,Subtraction Artifact,Overall Quality,Comment
0,0,3,3,3,2,2,2,NaN
1,8,4,3,3,4,4,4,NaN
2,12,3,3,3,4,4,4,NaN
3,13,4,3,3,4,4,4,NaN
4,18,3,3,3,4,4,4,NaN
5,19,3,3,3,3,4,4,NaN
6,20,3,3,3,4,4,4,NaN
7,22,3,3,3,2,2,2,NaN
8,29,3,3,3,4,4,4,NaN
9,31,3,3,3,3,2,2,NaN
10,33,3,3,3,4,4,4,NaN
11,35,3,3,3,2,2,2,NaN
12,43,3,3,3,4,4,4,NaN
13,44,3,3,3,3,4,4,NaN
14,64,3,3,3,3,3,3,NaN
15,71,3,3,3,3,3,3,NaN
16,78,3,3,3,2,2,2,NaN
17,82,3,3,3,4,4,4,NaN
18,85,3,3,3,2,2,2,NaN
19,91,3,3,3,2,2,2,NaN
20,92,3,3,3,4,4,4,NaN
21,101,2,2,3,1,1,1,NaN
22,104,3,3,3,4,4,4,NaN
23,107,3,3,3,4,4,4,NaN
24,109,3,3,3,2,2,2,NaN
25,116,3,3,3,2,2,2,NaN
26,121,3,3,3,3,4,4,NaN
27,122,3,3,3,4,4,4,NaN
28,124,3,3,3,3,4,3,NaN
29,131,3,3,3,3,4,3,NaN
30,133,3,3,3,3,2,3,NaN
31,134,3,3,3,4,2,4,NaN
32,139,3,3,3,3,3,3,NaN
33,146,3,3,3,3,2,3,NaN
34,147,3,3,3,3,2,3,NaN
35,156,3,3,3,4,4,4,NaN
36,159,3,3,3,3,3,3,NaN
37,165,3,3,3,3,2,3,NaN
38,169,3,3,3,2,2,2,NaN
39,171,3,3,3,2,2,2,NaN
40,176,3,3,3,2,2,2,NaN
41,178,3,3,3,4,4,4,NaN
42,180,3,3,3,4,4,4,NaN
43,185,3,3,3,1,1,1,NaN
44,186,3,3,3,4,4,4,NaN
45,188,4,3,3,4,4,4,NaN
46,189,3,3,3,4,4,4,NaN
47,190,3,3,3,2,2,2,NaN
48,191,3,3,3,2,2,2,NaN
49,192,3,3,3,4,4,4,NaN

In [4]:
## Read right series labels
def readRightLabels(score_filename):
    filepath = os.path.join(eval_dir, score_filename)
    df = pd.read_excel(filepath)
    case_nums = df['Case']

    N_case = len(df)
    right_labels = []
    for i in range(N_case):
        dst_dir = os.path.join(sample_dir, str(case_nums[i]).zfill(3))
        with open(os.path.join(dst_dir, "pool_order.txt"), "r") as file:
            pool_order = [int(line) for line in file.readlines()]
        right_labels.append(pool_order[1])

    right_labels = np.array(right_labels) 
    return right_labels

In [5]:
right_labels = readRightLabels(score_filename)
df['Right Labels'] = right_labels
df

,Case,Sharpness,Contrast,Noise,Vascular Fidelity,Subtraction Artifact,Overall Quality,Comment,Right Labels
0,0,3,3,3,2,2,2,NaN,0
1,8,4,3,3,4,4,4,NaN,1
2,12,3,3,3,4,4,4,NaN,1
3,13,4,3,3,4,4,4,NaN,1
4,18,3,3,3,4,4,4,NaN,1
5,19,3,3,3,3,4,4,NaN,1
6,20,3,3,3,4,4,4,NaN,1
7,22,3,3,3,2,2,2,NaN,0
8,29,3,3,3,4,4,4,NaN,1
9,31,3,3,3,3,2,2,NaN,0
10,33,3,3,3,4,4,4,NaN,1
11,35,3,3,3,2,2,2,NaN,0
12,43,3,3,3,4,4,4,NaN,1
13,44,3,3,3,3,4,4,NaN,1
14,64,3,3,3,3,3,3,NaN,1
15,71,3,3,3,3,3,3,NaN,0
16,78,3,3,3,2,2,2,NaN,0
17,82,3,3,3,4,4,4,NaN,1
18,85,3,3,3,2,2,2,NaN,0
19,91,3,3,3,2,2,2,NaN,0
20,92,3,3,3,4,4,4,NaN,1
21,101,2,2,3,1,1,1,NaN,0
22,104,3,3,3,4,4,4,NaN,1
23,107,3,3,3,4,4,4,NaN,1
24,109,3,3,3,2,2,2,NaN,0
25,116,3,3,3,2,2,2,NaN,1
26,121,3,3,3,3,4,4,NaN,1
27,122,3,3,3,4,4,4,NaN,1
28,124,3,3,3,3,4,3,NaN,1
29,131,3,3,3,3,4,3,NaN,1
30,133,3,3,3,3,2,3,NaN,0
31,134,3,3,3,4,2,4,NaN,0
32,139,3,3,3,3,3,3,NaN,0
33,146,3,3,3,3,2,3,NaN,0
34,147,3,3,3,3,2,3,NaN,0
35,156,3,3,3,4,4,4,NaN,1
36,159,3,3,3,3,3,3,NaN,1
37,165,3,3,3,3,2,3,NaN,0
38,169,3,3,3,2,2,2,NaN,0
39,171,3,3,3,2,2,2,NaN,0
40,176,3,3,3,2,2,2,NaN,0
41,178,3,3,3,4,4,4,NaN,1
42,180,3,3,3,4,4,4,NaN,1
43,185,3,3,3,1,1,1,NaN,0
44,186,3,3,3,4,4,4,NaN,1
45,188,4,3,3,4,4,4,NaN,1
46,189,3,3,3,4,4,4,NaN,1
47,190,3,3,3,2,2,2,NaN,0
48,191,3,3,3,2,2,2,NaN,0
49,192,3,3,3,4,4,4,NaN,1

In [6]:
measure_name = 'Vascular Fidelity'
# measure_name = 'Subtraction Artifact'
# measure_name = 'Overall Quality'

measure_scores = df[measure_name]
dsa_scores = measure_scores[right_labels == 0]
reg_scores = measure_scores[right_labels == 1]

print(f"{'Score':5}; {'DSA':5}; {'Reg':5}")
for i in range(5,0,-1):
    print(f"{i:5}; {np.sum(dsa_scores==i):5}; {np.sum(reg_scores==i):5}")
print(f"{'Total':5}; {len(dsa_scores):5}; {len(reg_scores):5}")
print(f"{'Avg':5}; {np.mean(dsa_scores):5.1f}; {np.mean(reg_scores):5.1f}")

Score; DSA  ; Reg
    5;     0;     0
    4;     1;    20
    3;     7;     7
    2;    12;     1
    1;     2;     0
Total;    22;    28
Avg  ;   2.3;   3.7